.hero
{
    background-size: cover;
}

.align-text-center
{
    text-align: center;
}

.align-text-left
{
    text-align: right;
}

.align-text-right
{
    text-align: right;
}

.align-text-vertical-center
{
    padding: 10% 0;
}

@keyframes fadeIn
{
    0%
    {
        opacity: 0;
    }
    100%
    {
        opacity: 1;
    }
}

@keyframes fadeOut
{
    0% { opacity: 1; }
    100% {
        opacity: 0;
    }
}

.fade-out
{
    animation: fadeOut 0.5s linear forwards;
}

.fade-in-1
{
    animation: fadeIn 0.5s;
}

.fade-in-2
{
    animation: fadeIn 4s;
}

.fade-in-3
{
    animation: fadeIn 8s;
}

.fade-in-3
{
    animation: fadeIn 3.75s;
}

.fade-in-short
{
    animation: fadeIn 1s;
}

.fade-in-med
{
    animation: fadeIn 2.5s;
}

.fade-in-long
{
    animation: fadeIn 10s;
}
